{
"wsdl_main" : "path_to_wsdl_of_1C:Torgovlya",
"login_main" : "login_to_1C:Torgovlya",
"password_main" : "password_to_1C:Torgovlya",
"wsdl_hotline" : "path_to_wsdl_of_1C:Hotline",
"login_hotline" : "login_to_1C:Hotline",
"password_hotline" : "password_to_1C:Hotline",
"error_clients" : "log_file_for_UploadXML",
"system_code" : "file_with_system_codes",
"url_client" : "otrs_generic_interface_client_operations_address_with_login_and_password_as_parameters",
"url_user" : "same_but_for_user_operations",
"errors" : "another_log_file_for_UploadXML",
"1clk" : "client_info_from_1C"
}
